# Bash aliases
alias c.="code ."

alias gf="git fetch"
alias gl="git pull"
alias gg="git log"
alias gs="git status"
alias ga="git add ."
alias gca="git add . && git commit -m"
alias gc="git commit -m"
alias gp="git pull && git push"
alias gd="git diff"
alias gb="git branch"
alias gpp="git push production main"
alias gps="git push staging main"

alias im="iex -S mix"
alias imp="iex -S mix phx.server"

alias k="kubectl"

alias s.="source ~/.zshrc"

alias v="vim"
alias va="vim ~/.aliases"
alias v.="vim ~/.zshrc"

alias yi="yarn install"
alias yb="yarn build"
alias yd="yarn dev"
alias ydc="yarn depcheck"
alias ydb="yarn docs:build"
alias yw="yarn web"
alias yl="yarn lint"
alias yf="yarn fix"
alias ys="yarn start"
alias ysr="yarn schema:refresh"
alias yk="yarn shake"
alias yr="yarn reset"
