# Bash aliases
alias c.="code ."

alias gf="git fetch"
alias gl="git pull"
alias gs="git status"
alias ga="git add ."
alias gc="git add . && git commit -m"
alias gp="git push"
alias gr="git remote prune origin"
alias gd="git diff"
alias gb="git branch"

alias im="iex -S mix"
alias imp="iex -S mix phx.server"
alias mp="mix phx.server"

alias k="kubectl"

alias v="vim"

alias y1="yarn run codepush:ios:dev1"

alias yr="yarn run"


