# Bash aliases
alias c.="code ."

alias gf="git fetch"
alias gl="git pull"
alias gs="git status"
alias ga="git add ."
alias gc="git add . && git commit -m"
alias gp="git pull && git push"
alias gr="git remote prune origin"
alias gd="git diff"
alias gb="git branch"

alias im="iex -S mix"
alias imp="iex -S mix phx.server"
alias mp="mix phx.server"

alias k="kubectl"

alias v="vim"

alias yr="yarn run"
alias yrd="yarn run dev"
alias yrw="yarn run web"
alias yrl="yarn run lint"
alias y1i="yarn run codepush:ios:dev1"
alias y1a="yarn run codepush:android:dev1"


